menu {
  background-color:#0a66c2;
  padding: 10px;
}

menu ul {
  list-style:none;
  display: inline;    
  padding: 0px 0px 0px 10px;
}

menu ul li {
  display: inline;
  margin: 0px 20px 0px 0px;
}

a:link, a:visited, a:active, a:hover {
  color: #000;
  text-decoration: none;
}

menu ul li a:link, menu ul li a:visited  {
  color: white;
  text-decoration: none;
}

menu ul li a:hover {
  color: #000;
  text-decoration: none;
}